.logInWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #8e75e3;
}

.logInWrapper .logo {
    max-width: 160px;
    width: 100%;
    margin-bottom: 30px;
}

.logInWrapper h1 {
    color: #828282;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logInWrapper h1 span {
    margin-left: 10px;
}

.logInWrapper .logInCard {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 16px;
}

.logInWrapper .logInCard form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logInWrapper .logInCard form input {
    width: 250px;
    height: 24px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    border: 1.3px solid transparent;
    border-radius: 12px;
    padding: 5px 15px;
    margin-bottom: 30px;
    outline: none;
}

.logInWrapper .logInCard form input:focus {
    border: 1.3px solid #8e75e3;
}

.logInWrapper .logInCard form input::placeholder {
    font-weight: 400;
    color: #b5b5b5;
}


.logInWrapper .logInCard form button {
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    width: 250px;
    background: #8e75e3;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.logInWrapper .logInCard form button:hover {
    filter: brightness(1.2);
}


/* Todo Screen */


.todoWrapper {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todoWrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.todoWrapper header .userContainer {
    display: flex;
    align-items: center;
}

.todoWrapper header .userContainer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

.todoWrapper header .userContainer .userName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.todoWrapper header .userContainer .userName h1 {
    font-size: 1.3rem;
    margin: 0;
    color: #626262;
}

.todoWrapper header .userContainer .userName h3 {
    font-size: 0.8rem;
    margin: 3px 0 0;
    color: #b5b5b5;
}

.todoWrapper header .date span {
    font-size: 0.9rem;
    color: #b5b5b5;
    font-weight: 700;
}

.todoWrapper header .date p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #626262;
    margin: 3px 0 0;
}

.todoWrapper form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoWrapper form input {
    width: 500px;
    height: 24px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    border: 1.3px solid transparent;
    border-radius: 8px;
    padding: 5px 15px;
    outline: none;
}

.todoWrapper form input:focus {
    border: 1.3px solid #8e75e3;
}

.todoWrapper form input::placeholder {
    font-weight: 400;
    color: #b5b5b5;
}

.todoWrapper form button {
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    height: 36.6px;
    text-align: center;
    width: 40px;
    margin-left: 20px;
    background: #8e75e3;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.todoWrapper form button:hover {
    filter: brightness(1.2);
}

.allTasks {
    background: #8e75e3;
    padding: 10px;
    max-width: 592px;
    width: 100%;
    border-radius: 16px;
    margin-top: 30px;
}

.allTasks p {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 5px;
}

.allTasks .taskCount {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.allTasks .taskCount span {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

.allTasks .taskCount .percentBar {
    height: 7px;
    margin-left: 5px;
    max-width: 150px;
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.35);
    overflow: hidden;
}

.percentBar .progress {
    background-color: #fff;
    height: 100%;
}

.hide {
    display: none;
}

.todoWrapper ul {
    max-width: 592px;
    width: 100%;
    list-style: none;
    padding: 0;
}

.todoWrapper ul li {
    border: 1.3px solid #DBDBFB;
    /* box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25); */
    padding: 15px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    position: relative;
}

.todoWrapper ul li:not(:last-child):before {
    content: "";
    height: 11px;
    width: 2px;
    background: #DBDBFB;
    position: absolute;
    bottom: -12px;
    left: 23px;
}

.todoWrapper ul li .task {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoWrapper ul li .task>span {
    font-size: 1rem;
    color: #626262;
    font-weight: 700;
}

.todoWrapper ul li .task button,
.todoWrapper ul li button {
    border: none;
    background: transparent;
    color: #8e75e3;
    font-size: 1rem;
}